@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');

$main-color:  #fcfccc;
$text-color: #56593D;
$button-hover: #464830;

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
     body, a, h2, h3, h4 {
        color:$text-color;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 1.58px;
     }
     body {
        max-width: 1440px;
        margin:0 auto;
     }
// col-
.col-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}
.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.container {
    margin: 8px;
    .yellow-line {
        display: block;
        width: 100%;
        height: 16px;
        background: $main-color;
    }
}
.content-container {
    margin-left: 32px;
    margin-right: 32px;
}

nav {
    position: relative;
    max-height: 100px;
    line-height: 100px;
    .nav-block {
        display: flex;
        justify-content: space-between;
        padding:0 32px;
    }
}

.menu {
    display: flex;
    gap:40px;
    li a {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        &:hover {
            border-bottom:2px solid $text-color;
        }
    }
}

// symbol img
.menu img, .link-option img, .footer-menu img{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-bottom: -1px;

}

.icons-panel {
    padding-top: 8px;
    a {
    margin-left: 20px;
    img:hover {  
        width: 32.5px;
        height: 32.5px;
    }
    }
}

.logo {
    display: block;
    position: absolute;
    text-align: center;
    left:0;
    right: 0px;
    top:0px;
    z-index: -1;
    a {
        display: flex;
        justify-self: center;
        align-self: center;
        flex-wrap: wrap;
    }
}

/* main */
.slider {
    position: relative;
    .slider1:focus {
        h3 {
            color:white;
        }
    }
    .slider-info {
        position: absolute;
        text-align: right;
        right: 80px;
        bottom:80px
    }
    .img-slider {
        height: auto;
        width: 100%;
        border: 16px solid $main-color;
        img {
            height: auto;
            width: 100%;
        }
    }
    h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 45px;
        margin-bottom: 25px;
    }
    .btn {
        background-color: $text-color;
        color:$main-color;
        padding: 16px 25px 17px 25px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background-color:$button-hover ;
        }
    }
}
.content {
    margin: 90px;
    font-size: 57px;
    text-align: center;
}

.link-option ul{
    display: flex;
    justify-content: center;
    gap:40px;
    a {
        font-size: 16px;
        &:hover {
            border-bottom: 1px solid $text-color;
        }
    }
}

.maple-board-block {
    display: block;
    width: auto ;
    background-color: $main-color;
    h2 {
        font-size: 24px;
        text-align: center;
        padding: 63px 0 80px 0; 
    }
    .maple-board {
        display: flex;
        justify-content: center;
        text-align: center;
        align-content: center;
        margin: auto 16px;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // text-align: center;
        gap:32px;
        // padding-bottom: 50px;
        .item {
            display: flex;
            flex-direction: column;
            // padding: 16px;
            margin-bottom: 80px;
            .item-name {
                margin: 15px 0;
            }
            .price {
                letter-spacing: 1.62px;
                line-height: 26px;
            }
        }
    }
}
.row {
    display: flex;
    padding:64px 32px;
    margin-top: 23px;
}
// frame 
.story, .subscribe, .kinn-moments{
    background-color: $main-color;
}
.frame{
    position: relative;
    text-align: center;
    .frame-text {
        position: absolute;
        top:78px;
        left: 0;
        right: 0;
        margin: 0 auto;
        // transform: translate(-50%, -100%);
        h2 {
            font-size: 50px;
            line-height: 60px;
            padding-right: 100px;
            padding-left: 100px;
        }
        h3 {
            padding-top: 11px;
            font-size: 17px;
            line-height: 21px;
            letter-spacing: 1.8px;
        }
    }
    margin-top: 23px;
    img {
        width: 100%;
        border: 16px solid $main-color;
    }
}
.col-7 {
    img {
        height: auto;
        max-width: 100%;
        align-self: center;
        justify-self: center;
        display: flex;
    }
}

.info-content {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: auto 87px;

    .info-content-header{
        margin-top: 63px;
        font-size: 29px;
        letter-spacing: 0;
    }
    .info-content-symbol {
        margin: 32px auto;
        display: block;
        width: 40px;
        height: 1px;
        background-color:$text-color;
    }
    .info-content-text {
        font-family: 'Jost', sans-serif;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: 0;
    }
    .subscribe-content-header {
        font-size: 29px;
        line-height: 38px;
        letter-spacing: 0;
        margin-bottom: 16px;
    }
    .subscribe-content-text{
        font-family: 'Jost', sans-serif;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0;
        margin-bottom: 46px;
    
    }
    input {
        border:none;
        border-bottom: 1px solid $text-color;
        width: 340px;
        background-color: $main-color;
        text-align: center;
        height: 20px;
        outline:none;
        color: $text-color;
        font-size: 14px;
        letter-spacing: 1.2px;
    }
    button {
        height: 22px;
        width: 144px;
        background-color: $text-color;
        color: $main-color;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        font-size: 14px;
        margin-left:10px;
        &:hover {
            background-color:$button-hover;
        }
    }
}
.right-img {
    display: flex;
    justify-content: flex-end;
}

// kinn-moment
.kinn-moments {
    h2 {
        text-align: center;
        margin-bottom: 32px;
    }
}
.kinn-moments-img {
    display: flex;
    justify-content: space-around;
    gap: 8px;
    overflow: hidden;
}

// footer
 .footer {
    min-width: 100%;
    background:#56593D;
    height: 382px;
    margin-top: 90px;
    h3 {
        color: $main-color;
    }
    .block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $main-color;
        font-size: 16px;
        line-height: 25px;
        p {
            padding-right: 80px;
            letter-spacing: 0;
        }
        a {
            color:$main-color;
            line-height: 40px;
            text-transform: uppercase;
            &:hover {
                border-bottom: 1px solid $main-color;
            }
        }
    }
    .footer-content-symbol {
        margin: 32px 0;
        display: block;
        width: 40px;
        height: 1px;
        background-color: $main-color;
    }
    .footer-menu {
        margin-top: -8px;
        li {
            border-bottom: 1px solid #56593D;
        } 
    }
    .block-end {
        display: flex;
        justify-content: flex-end;
        ul {
        display: flex;
        align-items: flex-end;
        gap:20px;
        }
        img {
            width: 24px;
            height: 24px;
        }
 }
}
// over lg 
@media  (min-width: 1441px) {
    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
// some lg
@media (min-width: 768px) and (max-width: 1440.98px) {
    .col-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .menu {
        display: flex;
        gap:25px;
        li a {
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            &:hover {
                border-bottom:2px solid $text-color;
            }
        }
        
    }
    .content {
        margin: 60px;
        font-size: 50px;
    }

    .maple-board {
        img {
            max-width: 95%;
        }
        
    }

    .frame {
    .frame-text {
        h2 {
            font-size: 44px;
        }
    }
    }

    .kinn-moments {
        img {
            width: 100%;
        }
    }
}

// md 
@media (min-width: 768px) and (max-width: 1200px) {
    nav {
        position: relative;
        max-height: 100px;
        line-height: 100px;
    }
    
    .menu {
        margin-top: 30px;
    }
    .icons-panel {
        margin-top: 30px;
            img {
                width: 22px;
                height: 22px;
            }
            img:hover {  
                max-width: 22.5px;
                max-height: 22.5px;
            }
        }
    .logo {
        display: block;
        position: absolute;
        top:-20px;
        text-align: center;
        margin-left: 32px;
    }

    .slider {
        .slider-info {
            bottom:50px;
            right:50px;
        }
        h3 {
            font-size: 14px;
            margin-bottom: 8px;
        }
        h2 {
            font-size: 32px;
            margin-bottom: 16px;
        }
        .btn {
            background-color: $text-color;
            color:$main-color;
            padding: 12px 20px 13px 20px;
            border: none;
            font-size: 12px;
        }
    }
    .content {
        margin: 30px;
        font-size: 36px;
    }
    .frame {
        .frame-text {
            top:40px;
            h2 {
                font-size: 36px;
                line-height: 40px;
                padding-right: 60px;
                padding-left: 60px;
            }
            h3 {
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 1.8px;
            }
        }
    }
}
// sm
@media (max-width: 992px) {
    .maple-board-block {
        .maple-board {
            gap:6px;
            img {
                max-width: 85%;
            }
        }
    }
    .story {
        img {
            margin: 0;
            padding:0;
        }
        .row-sm {
            display: flex;
            flex-direction: column;
            .col-sm-12 {
                flex:0 0 100%;
                max-width: 100%;
                .info-content {
                    margin: auto 20px;

                
                    .info-content-header{
                        font-size: 28px;
                        letter-spacing: 0;
                        margin:0;
                    }
                    .info-content-symbol {
                        margin: 24px auto;
                    }
                    .info-content-text {

                        margin-bottom: 30px;
                    }
                }
                
            }
        }
        .flex-reverse {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    .center-sm-img {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .maple-board-block {
        .maple-board {
            gap:0;
            .item {
                .item-name {
                    margin: 5px 0;
                }
            }
        }
    }
    .info-content {
        margin: auto 40px;
    
        .info-content-header{
            font-size: 32px;
            margin:10px;
        }

        .info-content-text {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0;
        }
    }
    .kinn-moments-img {
        overflow-x: scroll;
        max-width: 100%;
        display: flex;
        justify-content: flex-start;

        .col-sm-6 {
            flex:0 0 50%;
            max-width: 50%;
        }
    }
}
@media (max-width: 767.98px) {

    .body-selector {
        position: fixed;
        top: 0;
        z-index: 100;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.15);
    
    }
    .content-container {
        margin:0;
    }
    .container {
        .yellow-line {
            height: 4px;
        }
    }
    nav .nav-block {
        justify-content: flex-end;
        padding: 0;
        margin-top:-40px;
    }
    nav {
        position: relative;
        max-height: 80px;
        line-height: 40px;
        .nav-block {
            display: flex;
            padding:0 16px;
        }
        .logo {
            text-align: left ;
            left:60px;
            top:30px;
        }
        .icons-panel {
            padding-top: 30px;
            a {
            margin-left: 10px;
            img {
                width: 18px;
                height: 18px;
            }
            img:hover {  
                width: 18.5px;
                height: 18.5px;
            }
        }
    }
    }
    .icons-panel {
        display: flex;
    }
    // .menu {
    //     visibility: hidden;
    //     opacity: 0;
    // }
    // burger menu 
    .nav-mobile-menu {
        width: 30px;
        height: 30px;
        position: relative;
        top:22px;
        right: 0;
        margin-left: 10px;
        background-color: $main-color;
        z-index: 10;
        span {
          height: 2px;
          background-color: rgb(49, 43, 9, 0.9);
          position: absolute;
          left: 0;
          right: 0;
          margin: 5px;
          transition: .25s ease-in-out;
    
          &:nth-child(1) {
            top:1px;
          }
          &:nth-child(2) {
            top:8px;
          }
          &:nth-child(3) {
            bottom: 3px;
          }
        }
        &.active-menu {
            background-color: rgb(255, 255, 255, 0.45) ;
            span {
                margin-top: -1px;
                &:nth-child(1) {
                    top:50%;
                    transform: rotate(45deg);
                    // background-color:$main-color;
                  }
                  &:nth-child(2) {
                    top:50%;
                    transform: rotate(-45deg);
                    // background-color:$main-color;
                  }
                  &:nth-child(3) {
                    transform: scale(0);
                  } 
            }
        }
    }
    .menu {
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        max-width: 280px;
        width: 300px;
        transform: translateX(150%);
        opacity: 0;
        visibility: hidden;
        li {
          margin-top: 15px;
        }
    
        &.active-menu {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
          top:14px;
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          background-color: #ffffff;
          line-height: 12px;
          z-index: 150;
          gap:0;
          ul {
              flex-direction: column !important;
              li {
                a {
                    font-size: 12px;
                }
                margin: 0;
                padding: 0;
              }
        }
    }
} 


    // 
    .slider {
        .slider-info {
            position: absolute;
            text-align: center;
            right: 40px;
            left: 40px;
            bottom: 12px;
            background-color: rgba(255, 250, 175, 0.3);
        }
        .img-slider {
            height: auto;
            width: 100%;
            border: 0px solid $main-color;
            img {
                height: auto;
                width: 100%;
            }
        }
        h3 {
            font-size: 10px;
            margin-bottom: 4px;
            text-align: center;
        }
        h2 {
            font-size: 16px;
            margin-bottom: 1px;
        }
        .btn {
            background-color: $text-color;
            padding: 10px;
            font-size: 10px;

        }
    }
    // menu end
    // content
    .content {
        margin:10px;
        p {
            font-size: 32px;
        }
    }
    .link-option {
        ul {
            justify-content: space-between;
            a {
                font-size: 14px;
            }
        }
    }

    //maple-board
    .maple-board-block {
        h2 {
            padding:30px;
        }
        .maple-board {
            flex-direction: column;
            margin: auto 16px;
            padding-bottom: 32px;
            flex-direction: column;
            img {
            max-width: 90%;
            }
            .item {
                margin:10px;
                .item-name {
                    margin:5px auto;
                }.logo {
                text-align: left !important;
            }
            }

        }
    }
    // frame
    .frame {
        img {
            border: 0px solid $main-color;
        }
        .frame-text {
            top:5px;
            h3 {
                font-size:14px;
                margin-bottom: 10px;
            }
            h2 {
                font-size: 20px;
                line-height: 20px;
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }

    // subscribe
    .subscribe {
        .info-content {
            margin: auto 10px;
            input {
                width: 200px;
                margin-top: 1.8px;
            }
            form {
                display: flex;
            }
        }
    }
    .kinn-moments {
        .kinn-moments-img {
            overflow:visible;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;  
            img {
                max-width: 96%;
            }
        }
    }
    // footer
    .col-xs-12 {
        flex:0 0 100%;
        max-width: 100%;
    }
    footer {
        .row {
            padding: 16px 16px;
            display: flex;
            flex-direction: column-reverse;
            background-color: #56593D;
            .block a{
                font-size: 12px;
                line-height: 12px;
            }
            .first-block{

            }
            .block-end {
                display: flex;
                right: 16px;
                position: absolute;
            }
        }
    }
}
@media (max-width: 500px) {
    .subscribe {
        .info-content {
            margin: auto 10px;
            input {
                width: 200px;
                margin-top: 1.8px;
                margin-bottom: 30px;
                
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media (max-width:320px) {
    .content {
        p {
            font-size: 14px;
        }
    }
    .frame {
        .frame-text {
            h2, h3 {
                font-size: 16px;
                line-height: 16px;
                padding: 0;
                padding-top:10px;
            }
        }
    }
    .story {
        .row {
            padding:0;
            padding-top:20px;
        }
    }
    .logo {
        display: none;
    }
    .nav-mobile-menu {
        z-index: 1000;
        top:5px;
        left:-5px;
    }
}